@import "variables";
//direction-button
@mixin direction-button-default {
    height: 27px;
    width: 27px;
    border: 1px solid rgba(83, 53, 53, 0.3);
    background: inherit;
    color: white;
}

@mixin direction-button-default-focus {
    // outline-color: #ef7b7b;
    // outline-width: 1px;
    outline: none;
}

@mixin direction-button-defaul-icon {
    position: relative;
    left: -2px;
    top: 1px;
}